<div class="row">
  <div class="col-md-12">
    <div class="main">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse topnav" id="navbarNav">
          <ul class="navbar-nav">
            <li
              class="nav-item active"
              *ngFor="let item of listOfLinks | keyvalue"
            >
              <a
                class="nav-link"
                [routerLink]="[item.value]"
                (click)="getList(item.value)"
                >{{ item.key }}</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
